<!doctype html>
<html lang="ru" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Продукция</title>

		<!-- Подключаем jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

		{% load staticfiles %}
		<!-- Подключаем модальное окно-->
		<link rel="stylesheet" href="{% static 'production/remodal/remodal.css' %}">
	  <link rel="stylesheet" href="{% static 'production/remodal/remodal-default-theme.css' %}">
		<script src="{% static 'production/remodal/remodal.min.js' %}"></script>

		<!-- Подключаем стили для головной страницы-->
	  <link rel="stylesheet" href="{% static 'production_ru/css/style_product_ru.css' %}" type="text/css">
		<link rel="stylesheet" type="text/css" href="{% static 'production_ru/css/reset.css' %}">

		<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

		<!-- Подключаем фавикон -->
		<link type="favicon" rel="icon" href="{% static 'production_ru/images/Emblema2.png' %}">

		
		<!-- Подключаем java script файл для нашей странички-->
		<script src="{% static 'services/js/jquery.maskedinput.js' %}" type="text/javascript"></script>
		<script src="{% static 'production_ru/js/jquery.maskedinput.min.js' %}" type="text/javascript"></script>

		<!-- Подключаем java script файл для нашей странички-->
		<script src="{% static 'production_ru/js/modernizr.js' %}"></script>

		<!-- Подключаем самый главный java script файл-->
		<script src="{% static 'production_ru/js/main.js' %}"></script>

		<!-- Подключаем java script файл для фиксации шапки страницы-->
		<script src="{% static 'production_ru/js/headhesive.min.js' %}"></script>

		<!-- Подключаем шрифт Proxima Nova -->
		<link href="{% static 'production_ru/fonts/ProximaNova/stylesheet.css' %}" rel="stylesheet">

		<!-- Подключаем иконки FontAwesome -->
		<link rel="stylesheet" href="{% static 'production_ru/css/font-awesome.css' %}" type="text/css">

	</head>
	<body>
		<div class="preloader">

		</div>



		<header class="menu_mobile">
			<nav class="cd-main-nav-wrapper">
				<ul class="cd-main-nav">
					<li><a href="#" id="zero_a">Меню</a></li>
					<li>
						<div class="language_mobile">
							<a class="uk" href="../../production">UK</a>  
							<a class="en" href="../../en/production/">EN</a> 
							<a class="ru" href="../production">RU</a>
						</div>
					</li>
					<li><a href="..">Про компанию</a></li>
					<li><a  href="../services/">Наши услуги</a></li>
					<li class="active"><a href="../production/">Продукция</a></li>
					<li><a href="../reviews/">Отзывы</a></li>
					<li><a href="../contact/">Контакты</a></li>	
					<li id="text_field">
						<form action="{% url 'production_ru_search_mobile' %}" method="get" id="search_form">
							{% csrf_token %}
							<button type="submit" class="button_submit_mobile">
								<div class="find_button_mobile">
									<div class="find_button_logo_mobile">
										Найти
									</div>
								</div>
							</button>
							<div class="text-field_mobile">
								<input type='text' id="text-field" name='text-field'  placeholder='Пошук по сайту' required/>
							</div>
						</form>
					</li>
				</ul> <!-- .cd-main-nav -->
			</nav> <!-- .cd-main-nav-wrapper -->
			<a href="#0" class="cd-nav-trigger">Menu<span></span></a>
			<div class="icon_logo_mobile">
				
			</div>
			<!-- <div class="logo_header_maxwidth768">
				<div class="logo_title_header_maxwidth768">
					TRIUMPH
				</div>
				<div class="logo_title_text_header_maxwidth768">
					Продукция известняковых карьеров
				</div>
			</div> -->
		</header>




		
		<main class="cd-main-content">
			<!--     Создаем шапку-меню     -->
			<div class="header-top">
				<div class="menu-header-top">
					<ul class="menu">
						<li><a href="..">Про компанию</a></li>
						<li><a  href="../services/">Наши услуги</a></li>
						<li class="active"><a href="../production/">Продукция</a></li>
						<li><a href="../reviews/">Отзывы</a></li>
						<li><a href="../contact/">Контакты</a></li>
					</ul>
				</div>
			</div>
			




			<!--    Создаем шапку  -->
			<div class="header">
				<div class="menu-header">

					<div class="icon_logo">
					</div>
					<!-- <div class="logo_text_header">
						<div class="logo_title_header">
							TRIUMPH
						</div>
						<div class="logo_title_text_header">
							Продукция известняковых карьеров
						</div>
					</div> -->

					<div class="language_header">
						<div class="icon_language_div">
							<i class="fa fa-globe" id="icon_language_header" aria-hidden="true"></i>
						</div>
						<div class="language_text_header">
							<div class="language_name_header">
								Язык
							</div>
							<div class="language_country_header" id="language_country_header">
								Русский
							</div>
							<div class="languages_ul">
								<ul id="ukrainian_langua"><a href="../../production/" class="ukrainian_silka">Українська</a></ul>
								<ul id="english_langua"><a href="../../en/production/" class="english_silka">English</a></ul>
							</div>
						</div>
					</div>


					<div class="telefon_header">
						<div class="icon_telefon_div">
							<i class="fa fa-phone" id="icon_telefon_header" aria-hidden="true"></i>
						</div>
						<div class="telefon_text_header">
							<div class="every_day_time">
								Каждый день з 9:00-20:00
							</div>
							<div class="telefon_number">
								+380 (97) 86-78-111
							</div>
							<div class="call_me">
								Перезвоните мне
							</div>
						</div>
					</div>


					<div class="place_header">
						<div class="icon_place_div">
							<i class="fa fa-map-marker" id="icon_place_header" aria-hidden="true"></i>
						</div>
						<div class="place_text_header">
							<div class="place_town_header">
								Ваш город
							</div>
							<div class="place_vyl_header">
								Хмельницький
							</div>
						</div>
					</div>
				</div>
			</div>





		<div class="wrapper_logo_text_production">
			<div class="logo_text_production">
				<div class="text_production">
					Продукция
				</div>
			</div>
		</div>



		<div class="wrapper_production">
			<div class="production_block_1">
				<div class="galuzi_1">
					<!-- Для металургії та виробників вапна -->
					Для металургии и производителей извести
				</div>
				<div class="image_stone_1">
					
				</div>
				<div class="frakzi_1">
					<!-- Фракції: 0-5 мм, 0-20 мм, 20-40 мм, 40-80 мм, 80-120мм  -->
					Фракции: 0-5 мм, 0-20 мм, 20-40 мм, 40-80 мм, 80-120мм 
				</div>
				<a href="#modal-order-for-metallurgy-and-lime-producers">
					<div class="zakazat">
						<div class="zakazat_text">
							Заказать
						</div>
					</div>
				</a>
			</div>

			<div class="remodal" data-remodal-id="modal-order-for-metallurgy-and-lime-producers">
	      <button data-remodal-action="close" class="remodal-close"></button>
	      <form class="modal_window_form" name="modal_window_form" action="{% url 'email_1_ru' %}" method="post"  >
					{% csrf_token %}
			    <h1>Для металургии и производителей извести</h1>
			    
			    <div class="contentform">
			    	<div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


			    	<div class="leftcontact">
						  <div class="form-group">
							  <div class="div_p">Контактна особа: <span>*</span></div>
							  <span class="icon-case"><i class="fa fa-male"></i></span>
								<input type="text" name="user_surname" id="user_surname" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné." required />
				        <div class="validation" id="validation"></div>
			      	</div> 


							<div class="form-group">
								<div class="div_p">E-mail <span>*</span></div>
								<span class="icon-case"><i class="fa fa-envelope-o"></i></span>
				        <input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
				        <div class="validation"></div>
							</div>	

							<div class="form-group">
								<div class="div_p">Номер телефону <span>*</span></div>
								<span class="icon-case"><i class="fa fa-phone"></i></span>
								<input type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
				        <div class="div_p">Об'єм вантажу: <span>*</span></div>
				        <span class="icon-case"><i class="fas fa-briefcase"></i></span>
								<input type="text" name="volume" id="volume" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>
						</div>

						<div class="rightcontact">	

							<div class="form-group">
								<div class="div_p">Фракция <span>*</span></div>
								<span class="icon-case"><i class="fa fa-building-o"></i></span>
								<select name="select_fraction"  id="select_fraction">
						        <option value="1">0-5 мм</option>
						        <option value="2" >0-20 мм</option>
						        <option value="3">20-40 мм</option>
						        <option value="4" >40-80 мм</option>
						        <option value="5">20-40 мм</option>
						        <option value="6" >80-120мм</option>
						      </select>
							</div>	

							<div class="form-group">
								<div class="div_p">Предприятие <span>*</span></div>
								<span class="icon-case"><i class="fa fa-home"></i></span>
								<input type="text" name="enterprise" id="enterprise" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
								<div class="div_p">Период доставки <span>*</span></div>
								<span class="icon-case"><i class="fa fa-info"></i></span>
								<select name="delivery_period"  id="delivery_period">
						        <option value="1">З 05.01.2018 по 08.01.2018</option>
						        <option value="2" >З 05.01.2018 по 08.01.2018</option>
						        <option value="3">З 05.01.2018 по 08.01.2018</option>
						        <option value="4" >З 05.01.2018 по 08.01.2018</option>
						        <option value="5">З 05.01.2018 по 08.01.2018</option>
						        <option value="6" >З 05.01.2018 по 08.01.2018</option>
						      </select>
							</div>

							<div class="form-group">
								<div class="div_p">Текст сообщения</div>
								<span class="icon-case"><i class="fa fa-comment-o"></i></span>
				        <input type="text" name="message" id="message" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
				        <div class="validation"></div>
							</div>
						</div>
					</div>
					<button type="submit" class="bouton-contact">Отправить запрос</button>
				</form>
	    </div>









			<div class="production_block_2">
				<div class="galuzi_2">
					<!-- Для розкислення ґрунтів і водойм -->
					Для раскисления почв и водоемов
				</div>
				<div class="image_stone_2">
					
				</div>
				<div class="frakzi_2">
					Фракциї: 0-1 мм, 0-5 мм, 0-20 мм, 20-40 мм
				</div>
				<a href="#modal-order-for-deoxidation-of-soils-and-water">
					<div class="zakazat">
						<div class="zakazat_text">
							Заказать
						</div>
					</div>
				</a>
			</div>


			<div class="remodal" data-remodal-id="modal-order-for-deoxidation-of-soils-and-water">
	      <button data-remodal-action="close" class="remodal-close"></button>
	      <form class="modal_window_form" name="modal_window_form" action="{% url 'email_2_ru' %}" method="post"  >
					{% csrf_token %}
			    <h1>Для раскисления почв и водоемов</h1>
			    
			    <div class="contentform">
			    	<div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


			    	<div class="leftcontact">
						  <div class="form-group">
							  <div class="div_p">Контактна особа: <span>*</span></div>
							  <span class="icon-case"><i class="fa fa-male"></i></span>
								<input type="text" name="user_surname" id="user_surname" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné." required />
				        <div class="validation" id="validation"></div>
			      	</div> 


							<div class="form-group">
								<div class="div_p">E-mail <span>*</span></div>
								<span class="icon-case"><i class="fa fa-envelope-o"></i></span>
				        <input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
				        <div class="validation"></div>
							</div>	

							<div class="form-group">
								<div class="div_p">Номер телефону <span>*</span></div>
								<span class="icon-case"><i class="fa fa-phone"></i></span>
								<input type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
				        <div class="div_p">Об'єм вантажу: <span>*</span></div>
				        <span class="icon-case"><i class="fas fa-briefcase"></i></span>
								<input type="text" name="volume" id="volume" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>
						</div>

						<div class="rightcontact">	

							<div class="form-group">
								<div class="div_p">Фракция <span>*</span></div>
								<span class="icon-case"><i class="fa fa-building-o"></i></span>
								<select name="select_fraction"  id="select_fraction">
						        <option value="1">0-5 мм</option>
						        <option value="2" >0-20 мм</option>
						        <option value="3">20-40 мм</option>
						        <option value="4" >40-80 мм</option>
						        <option value="5">20-40 мм</option>
						        <option value="6" >80-120мм</option>
						      </select>
							</div>	

							<div class="form-group">
								<div class="div_p">Предприятие <span>*</span></div>
								<span class="icon-case"><i class="fa fa-home"></i></span>
								<input type="text" name="enterprise" id="enterprise" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
								<div class="div_p">Период доставки <span>*</span></div>
								<span class="icon-case"><i class="fa fa-info"></i></span>
								<select name="delivery_period"  id="delivery_period">
						        <option value="1">З 05.01.2018 по 08.01.2018</option>
						        <option value="2" >З 05.01.2018 по 08.01.2018</option>
						        <option value="3">З 05.01.2018 по 08.01.2018</option>
						        <option value="4" >З 05.01.2018 по 08.01.2018</option>
						        <option value="5">З 05.01.2018 по 08.01.2018</option>
						        <option value="6" >З 05.01.2018 по 08.01.2018</option>
						      </select>
							</div>

							<div class="form-group">
								<div class="div_p">Текст сообщения</div>
								<span class="icon-case"><i class="fa fa-comment-o"></i></span>
				        <input type="text" name="message" id="message" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
				        <div class="validation"></div>
							</div>
						</div>
					</div>
					<button type="submit" class="bouton-contact">Отправить запрос</button>
				</form>
	    </div>








			<div class="production_block_3">
				<div class="galuzi_3">
					Для сахарной промышленности
				</div>
				<div class="image_stone_3">
					
				</div>
				<div class="frakzi_3">
					Фракциї: 40-80 мм, 80-120мм 
				</div>
				<a href="#modal-order-for-sugar-industry">
					<div class="zakazat">
						<div class="zakazat_text">
							Заказать
						</div>
					</div>
				</a>
			</div>




			<div class="remodal" data-remodal-id="modal-order-for-sugar-industry">
	      <button data-remodal-action="close" class="remodal-close"></button>
	      <form class="modal_window_form" name="modal_window_form" action="{% url 'email_3_ru' %}" method="post"  >
					{% csrf_token %}
			    <h1>Для сахарной промышленности</h1>
			    
			    <div class="contentform">
			    	<div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


			    	<div class="leftcontact">
						  <div class="form-group">
							  <div class="div_p">Контактна особа: <span>*</span></div>
							  <span class="icon-case"><i class="fa fa-male"></i></span>
								<input type="text" name="user_surname" id="user_surname" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné." required />
				        <div class="validation" id="validation"></div>
			      	</div> 


							<div class="form-group">
								<div class="div_p">E-mail <span>*</span></div>
								<span class="icon-case"><i class="fa fa-envelope-o"></i></span>
				        <input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
				        <div class="validation"></div>
							</div>	

							<div class="form-group">
								<div class="div_p">Номер телефону <span>*</span></div>
								<span class="icon-case"><i class="fa fa-phone"></i></span>
								<input type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
				        <div class="div_p">Об'єм вантажу: <span>*</span></div>
				        <span class="icon-case"><i class="fas fa-briefcase"></i></span>
								<input type="text" name="volume" id="volume" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>
						</div>

						<div class="rightcontact">	

							<div class="form-group">
								<div class="div_p">Фракция <span>*</span></div>
								<span class="icon-case"><i class="fa fa-building-o"></i></span>
								<select name="select_fraction"  id="select_fraction">
						        <option value="1">0-5 мм</option>
						        <option value="2" >0-20 мм</option>
						        <option value="3">20-40 мм</option>
						        <option value="4" >40-80 мм</option>
						        <option value="5">20-40 мм</option>
						        <option value="6" >80-120мм</option>
						      </select>
							</div>	

							<div class="form-group">
								<div class="div_p">Предприятие <span>*</span></div>
								<span class="icon-case"><i class="fa fa-home"></i></span>
								<input type="text" name="enterprise" id="enterprise" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
								<div class="div_p">Период доставки <span>*</span></div>
								<span class="icon-case"><i class="fa fa-info"></i></span>
								<select name="delivery_period"  id="delivery_period">
						        <option value="1">З 05.01.2018 по 08.01.2018</option>
						        <option value="2" >З 05.01.2018 по 08.01.2018</option>
						        <option value="3">З 05.01.2018 по 08.01.2018</option>
						        <option value="4" >З 05.01.2018 по 08.01.2018</option>
						        <option value="5">З 05.01.2018 по 08.01.2018</option>
						        <option value="6" >З 05.01.2018 по 08.01.2018</option>
						      </select>
							</div>

							<div class="form-group">
								<div class="div_p">Текст сообщения</div>
								<span class="icon-case"><i class="fa fa-comment-o"></i></span>
				        <input type="text" name="message" id="message" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
				        <div class="validation"></div>
							</div>
						</div>
					</div>
					<button type="submit" class="bouton-contact">Отправить запрос</button>
				</form>
	    </div>









			<div class="production_block_4">
				<div class="galuzi_4">
					Для комбикормов и подкормки птицы
				</div>
				<div class="image_stone_4">
					
				</div>
				<div class="frakzi_4">
					Фракциї: 0-5 мм, 0-20 мм, 20-40 мм, 40-80 мм, 80-120мм 
				</div>
				<span data-remodal-target="modal-order-for-fodder-birds"><!-- href="#modal-order-for-fodder-birds" -->
					<div class="zakazat">
						<div class="zakazat_text">
							Заказать
						</div>
					</div>
				</span>
			</div>
		</div>


			<div class="remodal" data-remodal-id="modal-order-for-fodder-birds" data-remodal-options="closeOnOutsideClick: false"><!-- hashTracking: false, -->
	      <button data-remodal-action="close" class="remodal-close"></button>

				<form class="modal_window_form" name="modal_window_form" action="{% url 'email_4_ru' %}" method="post"  >
					{% csrf_token %}
			    <h1>Для комбикормов и подкормки птицы</h1>
			    
			    <div class="contentform">
			    	<div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


			    	<div class="leftcontact">
						  <div class="form-group">
							  <div class="div_p">Контактна особа: <span>*</span></div>
							  <span class="icon-case"><i class="fa fa-male"></i></span>
								<input type="text" name="user_surname" id="user_surname" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné." required />
				        <div class="validation" id="validation"></div>
			      	</div> 


							<div class="form-group">
								<div class="div_p">E-mail <span>*</span></div>
								<span class="icon-case"><i class="fa fa-envelope-o"></i></span>
				        <input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
				        <div class="validation"></div>
							</div>	

							<div class="form-group">
								<div class="div_p">Номер телефону <span>*</span></div>
								<span class="icon-case"><i class="fa fa-phone"></i></span>
								<input type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
				        <div class="div_p">Об'єм вантажу: <span>*</span></div>
				        <span class="icon-case"><i class="fas fa-briefcase"></i></span>
								<input type="text" name="volume" id="volume" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>
						</div>

						<div class="rightcontact">	

							<div class="form-group">
								<div class="div_p">Фракция <span>*</span></div>
								<span class="icon-case"><i class="fa fa-building-o"></i></span>
								<select name="select_fraction"  id="select_fraction">
						        <option value="1">0-5 мм</option>
						        <option value="2" >0-20 мм</option>
						        <option value="3">20-40 мм</option>
						        <option value="4" >40-80 мм</option>
						        <option value="5">20-40 мм</option>
						        <option value="6" >80-120мм</option>
						      </select>
							</div>	

							<div class="form-group">
								<div class="div_p">Предприятие <span>*</span></div>
								<span class="icon-case"><i class="fa fa-home"></i></span>
								<input type="text" name="enterprise" id="enterprise" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
								<div class="div_p">Период доставки <span>*</span></div>
								<span class="icon-case"><i class="fa fa-info"></i></span>
								<select name="delivery_period"  id="delivery_period">
						        <option value="1">З 05.01.18 по 08.01.18</option>
						        <option value="2" >З 05.01.2018 по 08.01.2018</option>
						        <option value="3">З 05.01.2018 по 08.01.2018</option>
						        <option value="4" >З 05.01.2018 по 08.01.2018</option>
						        <option value="5">З 05.01.2018 по 08.01.2018</option>
						        <option value="6" >З 05.01.2018 по 08.01.2018</option>
						      </select>
							</div>

							<div class="form-group">
								<div class="div_p">Текст сообщения</div>
								<span class="icon-case"><i class="fa fa-comment-o"></i></span>
				        <input type="text" name="message" id="message" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
				        <div class="validation"></div>
							</div>
						</div>
					</div>
					<button type="submit" class="bouton-contact">Отправить запрос</button>
				</form>
	    </div>




			






			<!--    Футер   -->
			<div class="footer">
				<div class="footer-menu">
					<div class="footer_menu_site">
						<ul>
							<li class="title">Меню сайта</li>
							<li class="spisk"><a href="../services/">Наши услуги</a></li>
							<li class="spisk"><a href="../production/">Продукция</a></li>
							<li class="spisk"><a href="../reviews/">Отзывы</a></li>
							<li><a href="../contact/">Контакты</a></li>
						</ul>
					</div>

					<div class="footer_kategoria">
						<ul>
							<li class="title">Категория товаров</li>
							<li class="spisk"><a href="../production/">Отсев</a></li>
							<li class="spisk"><a href="../production/">Щебень</a></li>
							<li class="spisk"><a href="../production/">Камень</a></li>
						</ul>
					</div>

					<div class="footer_our_production">
						<ul>
							<li class="title">Наша продукция</li>
							<li class="spisk"><a href="../services/">Доставка отсева</a></li>
							<li class="spisk"><a href="../services/">Доставка щебня</a></li>
							<li class="spisk"><a href="../services/">Даставка камня</a></li>
						</ul>
					</div>

					<div class="footer_servises">
						<ul>
							<li class="title">Сервисы</li>
							<li class="spisk"><a href="../services/">Как сделать заказ</a></li>
							<li class="spisk"><a href="../services/">Организация перевозок вагонами</a></li>
						</ul>
					</div>
				</div>
			</div>







			<!--    Нижний футер     -->
			<div class="footer_bottom">
				<div class="footer-menu_bottom">
					<div class="logo_footer">
						<img src="/static/production_ru/images/Emblema2.png"
								 alt="image_logo" id="icon_logo" class="image_logo"/>
						
						<div class="logo_text">
							<div class="logo_title">
								TRIUMPH
							</div>
							<div class="logo_title_text">
								Продукция известняковых карьеров
							</div>
						</div>
					</div>


					<div class="email_footer">
						<i class="fa fa-envelope-open" id="icon_email" aria-hidden="true"></i>
						<div class="email">tpk_triumph@ukr.net</div>
					</div>


					<div class="place_footer">
						<i class="fa fa-map-marker" id="icon_place" aria-hidden="true"></i>
						<div class="place">
							<div class="place_town">
								г.Хмельницький
							</div>
							<div class="place_vyl">
								ул. Свободи, буд. 9А, оф. 202.
							</div>
						</div>
					</div>



					<div class="telefon_footer">
						<i class="fa fa-phone" id="icon_telefon" aria-hidden="true"></i>
						<div class="telefon">
							+380 (97) 86-78-111
						</div>
					</div>
					
					
				</div>
			</div>





			<div class="footer_mobile">
				<div class="logo_footer_mobile">
					<div class="icon_logo_footer_mobile">
						
					</div>
						
					<div class="logo_text_mobile">
						<div class="logo_title_mobile">
							TRIUMPH
						</div>
						<div class="logo_title_text_mobile">
							Продукция известняковых карьеров
						</div>
					</div>
				</div>


				<div class="email_footer_mobile">
					<i class="fa fa-envelope-open" id="icon_email" aria-hidden="true"></i>
					<div class="email_mobile">tpk_triumph@ukr.net</div>
				</div>


				<div class="place_footer_mobile">
					<i class="fa fa-map-marker" id="icon_place" aria-hidden="true"></i>
					<div class="place_mobile">
						<div class="place_town_mobile">
							г.Хмельницький
						</div>
						<div class="place_vyl_mobile">
							ул. Свободи, буд. 9А, оф. 202.
						</div>
					</div>
				</div>



				<div class="telefon_footer_mobile">
					<i class="fa fa-phone" id="icon_telefon" aria-hidden="true"></i>
					<div class="telefon_mobile">
						+380 (97) 86-78-111
					</div>
				</div>
			</div>
		</main>



		<!-- Подключение javascript файла для отображения прелоадера -->
		<script src="{% static 'production_ru/js/preloader_and_headfixed.js' %}"></script>
	</body>
</html>