<!doctype html>
<html lang="ru" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Продукція</title>

		<!-- Подключаем jquery-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

		{% load staticfiles %}
		<!-- Подключаем модальное окно-->
		<link rel="stylesheet" href="{% static 'production/remodal/remodal.css' %}">
	  <link rel="stylesheet" href="{% static 'production/remodal/remodal-default-theme.css' %}">
		<script src="{% static 'production/remodal/remodal.min.js' %}"></script>

		<!-- Подключаем стили для головной страницы-->
	  <link rel="stylesheet" href="{% static 'production/css/style_product.css' %}" type="text/css">
		<link rel="stylesheet" type="text/css" href="{% static 'production/css/reset.css' %}">

		<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

		<!-- Подключаем фавикон -->
		<link type="favicon" rel="icon" href="{% static 'production/images/Emblema2.png' %}">

		
		<!-- Подключаем java script файл для нашей странички-->
		<script src="{% static 'production/js/jquery.maskedinput.js' %}" type="text/javascript"></script>

		<!-- Подключаем java script файл для нашей странички-->
		<script src="{% static 'production/js/modernizr.js' %}"></script>

		<!-- Подключаем самый главный java script файл-->
		<script src="{% static 'production/js/main.js' %}"></script>

		<!-- Подключаем java script файл для фиксации шапки страницы-->
		<script src="{% static 'production/js/headhesive.min.js' %}"></script>

		<!-- Подключаем шрифт Proxima Nova -->
		<link href="{% static 'production/fonts/ProximaNova/stylesheet.css' %}" rel="stylesheet">

		<!-- Подключаем иконки FontAwesome -->
		<link rel="stylesheet" href="{% static 'production/css/font-awesome.css' %}" type="text/css">

	</head>
	<body>
		<div class="preloader">

		</div>



		<header class="menu_mobile">
			<nav class="cd-main-nav-wrapper">
				<ul class="cd-main-nav">
					<li><a href="#" id="zero_a">Меню</a></li>
					<li>
						<div class="language_mobile">
							<a class="uk" href="../production/">UK</a> 
							<a class="en" href="../en/production/">EN</a> 
							<a class="ru" href="../ru/production/">RU</a>
						</div>
					</li>
					<li><a href="..">Про компанію</a></li>
					<li><a  href="../services/">Наші послуги</a></li>
					<li class="active"><a href="../production/">Продукція</a></li>
					<li><a href="../reviews/">Відгуки</a></li>
					<li><a href="../contact/">Контакти</a></li>	
					<li id="text_field">
						<form action="{% url 'production_search_mobile' %}" method="get" id="search_form">
							{% csrf_token %}
							<button type="submit" class="button_submit_mobile">
								<div class="find_button_mobile">
									<div class="find_button_logo_mobile">
										Найти
									</div>
								</div>
							</button>
							<div class="text-field_mobile">
								<input type='text' id="text-field" name='text-field'  placeholder='Пошук по сайту' required/>
							</div>
						</form>
					</li>
				</ul> <!-- .cd-main-nav -->
			</nav> <!-- .cd-main-nav-wrapper -->
			<a href="#0" class="cd-nav-trigger">Menu<span></span></a>
			<div class="icon_logo_mobile">
				
			</div>
			<!-- <div class="logo_header_maxwidth768">
				<div class="logo_title_header_maxwidth768">
					TRIUMPH
				</div>
				<div class="logo_title_text_header_maxwidth768">
					Продукція вапнякових кар'єрів
				</div>
			</div> -->
		</header>




		
		<main class="cd-main-content">
			<!--     Создаем шапку-меню     -->
			<div class="header-top">
				<div class="menu-header-top">
					<ul class="menu">
						<li><a href="..">Про компанію</a></li>
						<li><a  href="../services/">Наші послуги</a></li>
						<li class="active"><a href="../production/">Продукція</a></li>
						<li><a href="../reviews/">Відгуки</a></li>
						<li><a href="../contact/">Контакти</a></li>
					</ul>
				</div>
			</div>
			




			<!--    Создаем шапку  -->
			<div class="header">
				<div class="menu-header">

					<div class="icon_logo">
					</div>
					<!-- <div class="logo_text_header">
						<div class="logo_title_header">
							TRIUMPH
						</div>
						<div class="logo_title_text_header">
							Продукція вапнякових кар'єрів
						</div>
					</div> -->

					<div class="language_header">
						<div class="icon_language_div">
							<i class="fa fa-globe" id="icon_language_header" aria-hidden="true"></i>
						</div>
						<div class="language_text_header">
							<div class="language_name_header">
								Мова
							</div>
							<div class="language_country_header">
								Українська
							</div>
							<div class="languages_ul">
								<ul id="russia_langua"><a href="../ru/production/" class="russia_silka">Русский</a></ul>
								<ul id="english_langua"><a href="../en/production/" class="english_silka">English</a></ul>
							</div>
						</div>
					</div>


					<div class="telefon_header">
						<div class="icon_telefon_div">
							<i class="fa fa-phone" id="icon_telefon_header" aria-hidden="true"></i>
						</div>
						<div class="telefon_text_header">
							<div class="every_day_time">
								Кожен день з 9:00-20:00
							</div>
							<div class="telefon_number">
								+380 (97) 86-78-111
							</div>
							<div class="call_me">
								Перезвоніть мені
							</div>
						</div>
					</div>


					<div class="place_header">
						<div class="icon_place_div">
							<i class="fa fa-map-marker" id="icon_place_header" aria-hidden="true"></i>
						</div>
						<div class="place_text_header">
							<div class="place_town_header">
								Ваше місто
							</div>
							<div class="place_vyl_header">
								Хмельницький
							</div>
						</div>
					</div>
				</div>
			</div>





		<div class="wrapper_logo_text_production">
			<div class="logo_text_production">
				<div class="text_production">
					Продукція
				</div>
			</div>
		</div>



		<div class="wrapper_production">
			<div class="production_block_1">
				<div class="galuzi_1">
					Для металургії та виробників вапна
					<!-- Для металургии и производителей извести -->
				</div>
				<div class="image_stone_1">
					
				</div>
				<div class="frakzi_1">
					Фракції: 0-5 мм, 0-20 мм, 20-40 мм, 40-80 мм, 80-120мм 
				</div>
				<a href="#modal-order-for-metallurgy-and-lime-producers">
					<div class="zakazat">
						<div class="zakazat_text">
							Заказать
						</div>
					</div>
				</a>
			</div>

			<div class="remodal" data-remodal-id="modal-order-for-metallurgy-and-lime-producers">
	      <button data-remodal-action="close" class="remodal-close"></button>
	      <form class="modal_window_form" name="modal_window_form" action="{% url 'email_1' %}" method="post"  >
					{% csrf_token %}
			    <h1>Для металургии и производителей извести</h1>
			    
			    <div class="contentform">
			    	<div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


			    	<div class="leftcontact">
						  <div class="form-group">
							  <div class="div_p">Контактна особа: <span>*</span></div>
							  <span class="icon-case"><i class="fa fa-male"></i></span>
								<input type="text" name="user_surname" id="user_surname" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné." required />
				        <div class="validation" id="validation"></div>
			      	</div> 


							<div class="form-group">
								<div class="div_p">E-mail <span>*</span></div>
								<span class="icon-case"><i class="fa fa-envelope-o"></i></span>
				        <input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
				        <div class="validation"></div>
							</div>	

							<div class="form-group">
								<div class="div_p">Номер телефону <span>*</span></div>
								<span class="icon-case"><i class="fa fa-phone"></i></span>
								<input type="text" name="phone" id="phone_1" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
				        <div class="div_p">Об'єм вантажу: <span>*</span></div>
				        <span class="icon-case"><i class="fas fa-briefcase"></i></span>
								<input type="text" name="volume" id="volume" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>
						</div>

						<div class="rightcontact">	

							<div class="form-group">
								<div class="div_p">Фракція <span>*</span></div>
								<span class="icon-case"><i class="fas fa-file"></i></span>
								<select name="select_fraction"  id="select_fraction">
						        <option value="1">0-5 мм</option>
						        <option value="2" >0-20 мм</option>
						        <option value="3">20-40 мм</option>
						        <option value="4" >40-80 мм</option>
						        <option value="5" >80-120мм</option>
						      </select>
							</div>	

							<div class="form-group-month">
								<div class="div_p">Підприємство <span>*</span></div>
								<span class="icon-case"><i class="fa fa-home"></i></span>
								<input type="text" name="enterprise" id="enterprise" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
								<div class="div_p">Період доставки <span>*</span></div>
								<span class="icon-case"><i class="fas fa-bus"></i></span>
						      <select name="delivery_period_2"  id="delivery_period_1">
						      	<option value="1">січень</option>
						        <option value="2">лютий</option>
						        <option value="3">березень</option>
						        <option value="4">квітень</option>
						        <option value="5">травень</option>
						        <option value="6">червень</option>
						        <option value="7">липень</option>
						        <option value="8">серпень</option>
						        <option value="9">вересень</option>
						        <option value="10">жовтень</option>
						        <option value="11">листопад</option>
						        <option value="12">грудень</option>
						     	</select>

						     	<div class="to_month">по</div>

						     	<select name="delivery_period_1"  id="delivery_period_2">
						        <option value="1">січеня</option>
						        <option value="2">лютого</option>
						        <option value="3">березня</option>
						        <option value="4">квітня</option>
						        <option value="5">травня</option>
						        <option value="6">червня</option>
						        <option value="7">липня</option>
						        <option value="8">серпня</option>
						        <option value="9">вересня</option>
						        <option value="10">жовтня</option>
						        <option value="11">листопада</option>
						        <option value="12">груденя</option>
						     	</select>

						     	<div class="from_month">З</div>
							</div>

							<div class="form-group">
								<div class="div_p">Текст сообщенія</div>
								<span class="icon-case"><i class="fa fa-comment-o"></i></span>
				        <input type="text" name="message" id="message" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
				        <div class="validation"></div>
							</div>
						</div>
					</div>
					<button type="submit" class="bouton-contact">Отправити запрос</button>
				</form>
	    </div>









			<div class="production_block_2">
				<div class="galuzi_2">
					Для розкислення ґрунтів і водойм
				</div>
				<div class="image_stone_2">
					
				</div>
				<div class="frakzi_2">
					Фракції: 0-1 мм, 0-5 мм, 0-20 мм, 20-40 мм
				</div>
				<a href="#modal-order-for-deoxidation-of-soils-and-water">
					<div class="zakazat">
						<div class="zakazat_text">
							Заказать
						</div>
					</div>
				</a>
			</div>


			<div class="remodal" data-remodal-id="modal-order-for-deoxidation-of-soils-and-water">
	      <button data-remodal-action="close" class="remodal-close"></button>
	      <form class="modal_window_form" name="modal_window_form" action="{% url 'email_2' %}" method="post"  >
					{% csrf_token %}
			    <h1>Для розкислення ґрунтів і водойм</h1>
			    
			    <div class="contentform">
			    	<div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


			    	<div class="leftcontact">
						  <div class="form-group">
							  <div class="div_p">Контактна особа: <span>*</span></div>
							  <span class="icon-case"><i class="fa fa-male"></i></span>
								<input type="text" name="user_surname" id="user_surname" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné." required />
				        <div class="validation" id="validation"></div>
			      	</div> 


							<div class="form-group">
								<div class="div_p">E-mail <span>*</span></div>
								<span class="icon-case"><i class="fa fa-envelope-o"></i></span>
				        <input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
				        <div class="validation"></div>
							</div>	

							<div class="form-group">
								<div class="div_p">Номер телефону <span>*</span></div>
								<span class="icon-case"><i class="fa fa-phone"></i></span>
								<input type="text" name="phone" id="phone_2" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
				        <div class="div_p">Об'єм вантажу: <span>*</span></div>
				        <span class="icon-case"><i class="fas fa-briefcase"></i></span>
								<input type="text" name="volume" id="volume" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>
						</div>

						<div class="rightcontact">	

							<div class="form-group">
								<div class="div_p">Фракція <span>*</span></div>
								<span class="icon-case"><i class="fas fa-file"></i></span>
								<select name="select_fraction"  id="select_fraction">
						        <option value="1">0-1 мм</option>
						        <option value="2" >0-5 мм</option>
						        <option value="3" >0-20 мм</option>
						        <option value="4">20-40 мм</option>
						      </select>
							</div>	

							<div class="form-group">
								<div class="div_p">Підприємство <span>*</span></div>
								<span class="icon-case"><i class="fa fa-home"></i></span>
								<input type="text" name="enterprise" id="enterprise" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
								<div class="div_p">Період доставки <span>*</span></div>
								<span class="icon-case"><i class="fas fa-bus"></i></span>
						      <select name="delivery_period_2"  id="delivery_period_1">
						      	<option value="1">січень</option>
						        <option value="2">лютий</option>
						        <option value="3">березень</option>
						        <option value="4">квітень</option>
						        <option value="5">травень</option>
						        <option value="6">червень</option>
						        <option value="7">липень</option>
						        <option value="8">серпень</option>
						        <option value="9">вересень</option>
						        <option value="10">жовтень</option>
						        <option value="11">листопад</option>
						        <option value="12">грудень</option>
						     	</select>

						     	<div class="to_month">по</div>

						     	<select name="delivery_period_1"  id="delivery_period_2">
						        <option value="1">січеня</option>
						        <option value="2">лютого</option>
						        <option value="3">березня</option>
						        <option value="4">квітня</option>
						        <option value="5">травня</option>
						        <option value="6">червня</option>
						        <option value="7">липня</option>
						        <option value="8">серпня</option>
						        <option value="9">вересня</option>
						        <option value="10">жовтня</option>
						        <option value="11">листопада</option>
						        <option value="12">груденя</option>
						     	</select>

						     	<div class="from_month">З</div>
							</div>

							<div class="form-group">
								<div class="div_p">Текст сообщенія</div>
								<span class="icon-case"><i class="fa fa-comment-o"></i></span>
				        <input type="text" name="message" id="message" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
				        <div class="validation"></div>
							</div>
						</div>
					</div>
					<button type="submit" class="bouton-contact">Отправити запрос</button>
				</form>
	    </div>

	    








			<div class="production_block_3">
				<div class="galuzi_3">
					Для цукрової промисловості
				</div>
				<div class="image_stone_3">
					
				</div>
				<div class="frakzi_3">
					Фракції: 40-80 мм, 80-120мм 
				</div>
				<a href="#modal-order-for-sugar-industry">
					<div class="zakazat">
						<div class="zakazat_text">
							Заказать
						</div>
					</div>
				</a>
			</div>




			<div class="remodal" data-remodal-id="modal-order-for-sugar-industry">
	      <button data-remodal-action="close" class="remodal-close"></button>
	      <form class="modal_window_form" name="modal_window_form" action="{% url 'email_3' %}" method="post"  >
					{% csrf_token %}
			    <h1>Для цукрової промисловості</h1>
			    
			    <div class="contentform">
			    	<div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


			    	<div class="leftcontact">
						  <div class="form-group">
							  <div class="div_p">Контактна особа: <span>*</span></div>
							  <span class="icon-case"><i class="fa fa-male"></i></span>
								<input type="text" name="user_surname" id="user_surname" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné." required />
				        <div class="validation" id="validation"></div>
			      	</div> 


							<div class="form-group">
								<div class="div_p">E-mail <span>*</span></div>
								<span class="icon-case"><i class="fa fa-envelope-o"></i></span>
				        <input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
				        <div class="validation"></div>
							</div>	

							<div class="form-group">
								<div class="div_p">Номер телефону <span>*</span></div>
								<span class="icon-case"><i class="fa fa-phone"></i></span>
								<input type="text" name="phone" id="phone_3" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
				        <div class="div_p">Об'єм вантажу: <span>*</span></div>
				        <span class="icon-case"><i class="fas fa-briefcase"></i></span>
								<input type="text" name="volume" id="volume" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>
						</div>

						<div class="rightcontact">	

							<div class="form-group">
								<div class="div_p">Фракція <span>*</span></div>
								<span class="icon-case"><i class="fas fa-file"></i></span>
								<select name="select_fraction"  id="select_fraction">
						        <option value="1" >40-80 мм</option>
						        <option value="2" >80-120мм</option>
						      </select>
							</div>	

							<div class="form-group">
								<div class="div_p">Підприємство <span>*</span></div>
								<span class="icon-case"><i class="fa fa-home"></i></span>
								<input type="text" name="enterprise" id="enterprise" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
								<div class="div_p">Період доставки <span>*</span></div>
								<span class="icon-case"><i class="fas fa-bus"></i></span>
						      <select name="delivery_period_2"  id="delivery_period_1">
						      	<option value="1">січень</option>
						        <option value="2">лютий</option>
						        <option value="3">березень</option>
						        <option value="4">квітень</option>
						        <option value="5">травень</option>
						        <option value="6">червень</option>
						        <option value="7">липень</option>
						        <option value="8">серпень</option>
						        <option value="9">вересень</option>
						        <option value="10">жовтень</option>
						        <option value="11">листопад</option>
						        <option value="12">грудень</option>
						     	</select>

						     	<div class="to_month">по</div>

						     	<select name="delivery_period_1"  id="delivery_period_2">
						        <option value="1">січеня</option>
						        <option value="2">лютого</option>
						        <option value="3">березня</option>
						        <option value="4">квітня</option>
						        <option value="5">травня</option>
						        <option value="6">червня</option>
						        <option value="7">липня</option>
						        <option value="8">серпня</option>
						        <option value="9">вересня</option>
						        <option value="10">жовтня</option>
						        <option value="11">листопада</option>
						        <option value="12">груденя</option>
						     	</select>

						     	<div class="from_month">З</div>
							</div>

							<div class="form-group">
								<div class="div_p">Текст сообщенія</div>
								<span class="icon-case"><i class="fa fa-comment-o"></i></span>
				        <input type="text" name="message" id="message" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
				        <div class="validation"></div>
							</div>
						</div>
					</div>
					<button type="submit" class="bouton-contact">Отправити запрос</button>
				</form>
	    </div>









			<div class="production_block_4">
				<div class="galuzi_4">
					Для комбікормів і підгодівлі птиці
				</div>
				<div class="image_stone_4">
					
				</div>
				<div class="frakzi_4">
					Фракції: 0-5 мм, 0-20 мм, 20-40 мм, 40-80 мм, 80-120мм 
				</div>
				<span data-remodal-target="modal-order-for-fodder-birds"><!-- href="#modal-order-for-fodder-birds" -->
					<div class="zakazat">
						<div class="zakazat_text">
							Заказать
						</div>
					</div>
				</span>
			</div>
		</div>


			<div class="remodal" data-remodal-id="modal-order-for-fodder-birds" data-remodal-options="closeOnOutsideClick: false"><!-- hashTracking: false, -->
	      <button data-remodal-action="close" class="remodal-close"></button>

				<form class="modal_window_form" name="modal_window_form" action="{% url 'email_4' %}" method="post"  >
					{% csrf_token %}
			    <h1>Для комбікормів і підгодівлі птиці</h1>
			    
			    <div class="contentform">
			    	<div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


			    	<div class="leftcontact">
						  <div class="form-group">
							  <div class="div_p">Контактна особа: <span>*</span></div>
							  <span class="icon-case"><i class="fa fa-male"></i></span>
								<input type="text" name="user_surname" id="user_surname" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné." required />
				        <div class="validation" id="validation"></div>
			      	</div> 


							<div class="form-group">
								<div class="div_p">E-mail <span>*</span></div>
								<span class="icon-case"><i class="fa fa-envelope-o"></i></span>
				        <input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
				        <div class="validation"></div>
							</div>	

							<div class="form-group">
								<div class="div_p">Номер телефону <span>*</span></div>
								<span class="icon-case"><i class="fa fa-phone"></i></span>
								<input type="text" name="phone" id="phone_4" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres" required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
				        <div class="div_p">Об'єм вантажу: <span>*</span></div>
				        <span class="icon-case"><i class="fas fa-briefcase"></i></span>
								<input type="text" name="volume" id="volume" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>
						</div>

						<div class="rightcontact">	

							<div class="form-group">
								<div class="div_p">Фракція <span>*</span></div>
								<span class="icon-case"><i class="fas fa-file"></i></span>
								<select name="select_fraction"  id="select_fraction">
						        <option value="1">0-5 мм</option>
						        <option value="2" >0-20 мм</option>
						        <option value="3">20-40 мм</option>
						        <option value="4" >40-80 мм</option>
						        <option value="5" >80-120мм</option>
						      </select>
							</div>	

							<div class="form-group">
								<div class="div_p">Підприємство <span>*</span></div>
								<span class="icon-case"><i class="fa fa-home"></i></span>
								<input type="text" name="enterprise" id="enterprise" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné." required/>
				        <div class="validation"></div>
							</div>

							<div class="form-group">
								<div class="div_p">Період доставки <span>*</span></div>
								<span class="icon-case"><i class="fas fa-bus"></i></span>
						      <select name="delivery_period_2"  id="delivery_period_1">
						      	<option value="1">січень</option>
						        <option value="2">лютий</option>
						        <option value="3">березень</option>
						        <option value="4">квітень</option>
						        <option value="5">травень</option>
						        <option value="6">червень</option>
						        <option value="7">липень</option>
						        <option value="8">серпень</option>
						        <option value="9">вересень</option>
						        <option value="10">жовтень</option>
						        <option value="11">листопад</option>
						        <option value="12">грудень</option>
						     	</select>

						     	<div class="to_month">по</div>

						     	<select name="delivery_period_1"  id="delivery_period_2">
						        <option value="1">січеня</option>
						        <option value="2">лютого</option>
						        <option value="3">березня</option>
						        <option value="4">квітня</option>
						        <option value="5">травня</option>
						        <option value="6">червня</option>
						        <option value="7">липня</option>
						        <option value="8">серпня</option>
						        <option value="9">вересня</option>
						        <option value="10">жовтня</option>
						        <option value="11">листопада</option>
						        <option value="12">груденя</option>
						     	</select>

						     	<div class="from_month">З</div>
							</div>

							<div class="form-group">
								<div class="div_p">Текст сообщенія</div>
								<span class="icon-case"><i class="fa fa-comment-o"></i></span>
				        <input type="text" name="message" id="message" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
				        <div class="validation"></div>
							</div>
						</div>
					</div>
					<button type="submit" class="bouton-contact">Отправити запрос</button>
				</form>
	    </div>




	    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Продукция(ukraine) -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7353609485125602"
     data-ad-slot="9739035404"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>








			






			<!--    Футер   -->
			<div class="footer">
				<div class="footer-menu">
					<div class="footer_menu_site">
						<ul>
							<li class="title">Меню сайта</li>
							<li class="spisk"><a href="../services/">Наші послуги</a></li>
							<li class="spisk"><a href="../production/">Продукція</a></li>
							<li class="spisk"><a href="../reviews/">Відгуки</a></li>
							<li><a href="../contact/">Контакти</a></li>
						</ul>
					</div>

					<div class="footer_kategoria">
						<ul>
							<li class="title">Категорія товарів</li>
							<li class="spisk"><a href="../production/">Відсів</a></li>
							<li class="spisk"><a href="../production/">Щебінь</a></li>
							<li class="spisk"><a href="../production/">Камінь</a></li>
						</ul>
					</div>

					<div class="footer_our_production">
						<ul>
							<li class="title">Наша продукція</li>
							<li class="spisk"><a href="../services/">Доставка відсіву</a></li>
							<li class="spisk"><a href="../services/">Доставка щебню</a></li>
							<li class="spisk"><a href="../services/">Даставка камню</a></li>
						</ul>
					</div>

					<div class="footer_servises">
						<ul>
							<li class="title">Сервіси</li>
							<li class="spisk"><a href="../services/">Як зробити замовлення</a></li>
							<li class="spisk"><a href="../services/">Організація перевезень вагонами</a></li>
						</ul>
					</div>
				</div>
			</div>







			<!--    Нижний футер     -->
			<div class="footer_bottom">
			<div class="footer-menu_bottom">
				<div class="logo_footer">
					<img src="/static/about/images/Triumph_bez_fona.png"
							 alt="image_logo" id="icon_logo" class="image_logo"/>
					
					<!-- <div class="logo_text">
						<div class="logo_title">
							TRIUMPH
						</div>
						<div class="logo_title_text">
							Продукція вапнякових кар'єрів
						</div>
					</div> -->
				</div>


					<div class="email_footer">
						<i class="fa fa-envelope-open" id="icon_email" aria-hidden="true"></i>
						<div class="email">tpk_triumph@ukr.net</div>
					</div>


					<div class="place_footer">
						<i class="fa fa-map-marker" id="icon_place" aria-hidden="true"></i>
						<div class="place">
							<div class="place_town">
								м.Хмельницький
							</div>
							<div class="place_vyl">
								вул. Свободи, буд. 9А, оф. 202.
							</div>
						</div>
					</div>



					<div class="telefon_footer">
						<i class="fa fa-phone" id="icon_telefon" aria-hidden="true"></i>
						<div class="telefon">
							+380 (97) 86-78-111
						</div>
					</div>
					
					
				</div>
			</div>





			<div class="footer_mobile">
			<div class="logo_footer_mobile">
				<div class="icon_logo_footer_mobile">
					
				</div>

				<div class="footer_logo_text_mobile">
					Triumph <div class="small_text">C&amp;IC LTD</div>
				</div>
			</div>


				<div class="email_footer_mobile">
					<i class="fa fa-envelope-open" id="icon_email" aria-hidden="true"></i>
					<div class="email_mobile">tpk_triumph@ukr.net</div>
				</div>


				<div class="place_footer_mobile">
					<i class="fa fa-map-marker" id="icon_place" aria-hidden="true"></i>
					<div class="place_mobile">
						<div class="place_town_mobile">
							м.Хмельницький
						</div>
						<div class="place_vyl_mobile">
							вул. Свободи, буд. 9А, оф. 202.
						</div>
					</div>
				</div>



				<div class="telefon_footer_mobile">
					<i class="fa fa-phone" id="icon_telefon" aria-hidden="true"></i>
					<div class="telefon_mobile">
						+380 (97) 86-78-111
					</div>
				</div>
			</div>
		</main>



		<!-- Подключение javascript файла для отображения прелоадера -->
		<script src="{% static 'production/js/preloader_and_headfixed.js' %}"></script>
	</body>
</html>